# Specs for the RethinkDB image
image:
  name: codylundquist/helm-rethinkdb-cluster
  tag: 2.4.0
  pullPolicy: IfNotPresent

# RethinkDB Cluster Config
cluster:
  replicas: 3
  resources: {}
    # limits:
    #   cpu: 100m
    #   memory: 512Mi
    # requests:
    #   cpu: 100m
    #   memory: 512Mi

  ### rules how to spread group of instances between nodes
  ### default: spread instances between nodes
#  affinity: |
#    podAntiAffinity:
#      requiredDuringSchedulingIgnoredDuringExecution:
#        - topologyKey: "kubernetes.io/hostname"
#          labelSelector:
#            matchLabels:
#              app: {{ .Release.Name }}
  affinity: ""
  tolerations: null
  # - key: "dedicated"
  #   operator: "Equal"
  #   value: "tinode"

  podAnnotations: {}
  service:
    annotations: {}
  storageClass:
    enabled: false
    # provisioner: kubernetes.io/gce-pd
    # parameters:
    #   type: pd-ssd
  persistentVolume:
    enabled: true
    # If defined, volume.beta.kubernetes.io/storage-class: <storageClass>
    # storageClass: fast
    accessModes:
      - ReadWriteOnce
    size: 1Gi
    annotations: {}
  # RethinkDB Cache Size in MB
  rethinkCacheSize: 100
  livenessProbe:
    exec:
      command:
        - /rethinkdb-probe
    failureThreshold: 3
    initialDelaySeconds: 15
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 5
  readinessProbe:
    exec:
      command:
        - /rethinkdb-probe
    failureThreshold: 3
    initialDelaySeconds: 15
    periodSeconds: 10
    successThreshold: 1
    timeoutSeconds: 5

# RethinkDB Proxy Config
proxy:
  kind: Deployment
  replicas: 1
  resources: {}
    # limits:
    #   cpu: 100m
    #   memory: 512Mi
    # requests:
    #   cpu: 100m
    #   memory: 512Mi
  affinity: ""
  tolerations: null
  podAnnotations: {}
  service:
    annotations: {}
    type: ClusterIP
    clusterIP: ""
    # List of IP addresses at which the proxy service is available
    # Ref: https://kubernetes.io/docs/concepts/services-networking/service/#external-ips
    #
    externalIPs: []
    loadBalancerIP: ""
    loadBalancerSourceRanges: []
  # Secure your RethinkDB Driver using TLS.
  # Hint: You'll need to create your cert with a domain that is pointing
  # to the External IP Address returned from the LoadBalancer
  # More Info: https://www.rethinkdb.com/docs/security/#using-tls
  driverTLS:
    enabled: false
    # key: |-
    #   << RSA PRIVATE KEY >>
    # cert: |-
    #   << CERTIFICATE >>
  ## Additional env variables
  env: []

  ## statefulset-specific values
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      partition: 0
  podManagementPolicy: OrderedReady

# RethinkDB Ports
ports:
  cluster: 29015
  driver: 28015
  admin: 8080

# RethinkDB Admin Password
rethinkdbPassword: rethinkdb
rethinkdbPasswordSecret: null
#   rethinkdbPasswordSecret: rethinkdb-credentials

rbac:
  # Specifies whether RBAC resources should be created
  create: true

serviceAccount:
  # Specifies whether a ServiceAccount should be created
  create: true
  # The name of the ServiceAccount to use.
  # If not set and create is true, a name is generated using the fullname template
  name:
