{{ if eq .Values.kind "statefulset" }}
apiVersion: apps/v1
kind: StatefulSet
metadata:
  name: {{ include "microfleet.fullname" . }}
  labels:
    app: {{ .Release.Name }}
    release: {{ .Release.Name }}
    version: {{ .Values.image.tag | quote }}
    {{- if .Values.toolchain.monkey.enabled }}
    kube-monkey/enabled: enabled
    kube-monkey/mtbf: {{ .Values.toolchain.monkey.mtbf | quote }}
    kube-monkey/identifier: {{ .Release.Name }}
    kube-monkey/kill-mode: {{ .Values.toolchain.monkey.mode }}
    kube-monkey/kill-value: {{ .Values.toolchain.monkey.value | quote }}
    {{- end }}
spec:
  podManagementPolicy: {{ .Values.podManagementPolicy }}
  serviceName: ""
  replicas: {{ .Values.replicaCount }}
  updateStrategy:
{{ toYaml .Values.updateStrategy | indent 4 }}
  selector:
    matchLabels:
      app: {{ .Release.Name }}
  template:
    metadata:
      annotations:
        {{- if .Values.statefulsetExtraAnnotations }}
{{ toYaml .Values.statefulsetExtraAnnotations | indent 8 }}
        {{- end }}
        {{- if .Values.toolchain.config.files }}
        checksum/config-files: {{ include (print $.Template.BasePath "/config.yaml") . | sha256sum }}
        {{- end }}
        {{- if .Values.toolchain.consul.templates }}
        checksum/config-consul: {{ include (print $.Template.BasePath "/consul.templates.yaml") . | sha256sum }}
        {{- end }}
        sidecar.istio.io/inject: "{{ .Values.toolchain.istio.enabled }}"
        {{- if .Values.toolchain.monitoring.enabled }}
        prometheus.io/scrape: "true"
        prometheus.io/port: "{{ .Values.toolchain.monitoring.port }}"
        prometheus.io/scheme: "http"
        prometheus.io/path: "{{ .Values.toolchain.monitoring.path }}"
        {{- end }}
        {{- if .Values.toolchain.istio.enabled }}
        kiali.io/runtimes: "{{ .Values.toolchain.istio.kiali.runtime }}"
        {{- end }}
        {{- if .Values.toolchain.monkey.enabled }}
        kube-monkey/enabled: enabled
        kube-monkey/mtbf: {{ .Values.toolchain.monkey.mtbf | quote }}
        kube-monkey/identifier: {{ .Release.Name }}
        kube-monkey/kill-mode: {{ .Values.toolchain.monkey.mode }}
        kube-monkey/kill-value: {{ .Values.toolchain.monkey.value | quote }}
        {{- end }}
      labels:
        app: {{ .Release.Name }}
        version: {{ .Values.image.tag | quote }}
    spec:
      {{- if .Values.tolerations }}
      tolerations:
{{ toYaml .Values.tolerations | indent 6 }}
      {{- end }}
      {{- if eq (include "microfleet.serviceAccountName" .) "" }}
      automountServiceAccountToken: false
      {{- else }}
      serviceAccountName: "{{- include "microfleet.serviceAccountName" . -}}"
      {{- end }}
      {{- if or .Values.initContainers .Values.toolchain.consul.templates }}
      initContainers:
      {{- if .Values.toolchain.consul.templates }}
      - name: consul-template
        image: hashicorp/consul-template:alpine
        resources:
          requests:
            memory: 32Mi
            cpu: 10m
          limits:
            memory: 32Mi
            cpu: 10m
        env:
          - name: NODE_IP
            valueFrom:
              fieldRef:
                fieldPath: status.hostIP
        volumeMounts:
        - name: consul-template
          mountPath: /template
        - name: consul-config
          mountPath: /config
        command:
          - sh
          - -ec
          - |
            consul-template -consul-addr="$NODE_IP:8500" -once \
            {{- range $filename, $content := .Values.toolchain.consul.templates }}
              -template "/template/{{ $filename }}:/config/{{ $filename }}" \
            {{- end }}

            cat /config/*
      {{- end }}
      {{- if .Values.initContainers }}
{{ toYaml .Values.initContainers | indent 6 }}
      {{- end }}
      {{- end }}
      containers:
        {{- if .Values.additionalContainers }}
{{ toYaml .Values.additionalContainers | indent 8}}
        {{- end }}
        - name: {{ .Release.Name }}
          image: "{{ required "A valid image repository is required" .Values.image.repository }}:{{ required "A valid image tag is required" .Values.image.tag }}"
          imagePullPolicy: {{ .Values.image.pullPolicy }}
          env:
          - name: NODE_IP
            valueFrom:
              fieldRef:
                fieldPath: status.hostIP
        {{- if .Values.env }}
{{ toYaml .Values.env | indent 10 }}
        {{- end }}
        {{- if or .Values.volumeMounts .Values.toolchain.consul.templates .Values.toolchain.config.files }}
          volumeMounts:
          {{- if .Values.toolchain.config.files }}
          - name: config
            mountPath: {{ .Values.toolchain.config.path }}
          {{- end }}
          {{- if .Values.toolchain.consul.templates }}
          - name: consul-config
            mountPath: {{ .Values.toolchain.consul.path }}
          {{- end }}
          {{- if .Values.volumeMounts }}
{{ toYaml .Values.volumeMounts | indent 10 }}
          {{- end }}
          {{- end }}
          {{- if .Values.command }}
          command:
{{ toYaml .Values.command | indent 10 }}
          {{- end }}
          {{- if .Values.args }}
          args:
{{ toYaml .Values.args | indent 10 }}
          {{- end }}
          {{- if or .Values.service.ports .Values.toolchain.monitoring.enabled }}
          ports:
          {{- range .Values.service.ports }}
            - name: {{ default "http" .name }}
              containerPort: {{ default .port .targetPort }}
              protocol: {{ default "TCP" .protocol }}
          {{- end }}
          {{- if .Values.toolchain.monitoring.enabled }}
            - name: metrics
              containerPort: {{ default .Values.toolchain.monitoring.port 9102 }}
              protocol: TCP
          {{- end }}
          {{- end }}

          {{- if include "health" .Values.liveness }}
          livenessProbe:
          {{- if .Values.liveness.useGeneric }}
{{ include "microfleet.genericHealthProbe" . | indent 12 -}}
          {{- else }}
{{ toYaml .Values.liveness | indent 12 -}}
          {{- end }}
          {{- end }}

          {{- if include "health" .Values.readiness }}
          readinessProbe:
          {{- if .Values.readiness.useGeneric }}
{{ include "microfleet.genericHealthProbe" . | indent 12 -}}
          {{- else }}
{{ toYaml .Values.readiness | indent 12 -}}
          {{- end }}
          {{- end }}


          {{- if .Values.resources }}
          resources:
{{ toYaml .Values.resources | indent 12 }}
          {{- end }}

    {{- if .Values.affinity }}
      affinity:
        {{ tpl .Values.affinity . | indent 8 | trim }}
    {{- end }}
      {{- if or .Values.volumes .Values.toolchain.consul.templates .Values.toolchain.config.files }}
      volumes:
      {{- if .Values.toolchain.consul.templates }}
      - name: consul-template
        configMap:
          name: {{ include "microfleet.fullname" . }}-consul-templates
      - name: consul-config
        emptyDir: {}
      {{- end }}
      {{- if .Values.toolchain.config.files }}
      - name: config
        configMap:
          name: {{ include "microfleet.fullname" . }}-config
      {{- end }}
      {{- if .Values.volumes }}
{{ toYaml .Values.volumes | indent 6 }}
      {{- end }}
      {{- end }}
{{ end }}
